#cover-wrapper {
  display: flex;

  height: 50vh;
  width: 100%;
}

#cover-container {
  display: flex-box;

  height: 100%;
  width: 100%;
}

#cover-photo-wrapper {
  height: 60%;
  width: 100%;
  background-image: url("https://lorempixel.com/450/450/nature/3");
  background-repeat: no-repeat;
  background-size: cover;
}

#cover-photo-button {
  position: relative;
  right: 40px;
  top: 80%;
}

#profile-pic {
  position: relative;
  border: 2px solid grey;
  height: 200px;
  width: 200px;
  bottom: 100px;
}

/* #profile-edit-wrap {
  height: 100%;
  display: flex-box;
} */

#profile-photo-button {
  position: relative;
  border: 2px solid grey;
  right: 10%;
  top: 45px;
}

#edit-profile-button {
  position: relative;

  bottom: 50px;
}

/* @media screen(max-width: 600px) {
  #profile-row {
    align-items: "center";
  }
} */

@media (max-width: 600px) {
  #name-edit-row {
    position: relative;
    bottom: 125px;
  }
}

@media (max-width: 600px) {
  #name-edit-on-small-row {
    position: relative;
    bottom: 135px;
  }

  /* makes edit profile button larger on small devices */
  .col.s12 > .btn {
    width: 60%;
  }
}
