#cover-container {
  display: flex-box;

  height: 500px;
  width: 100%;
}

#cover-photo-wrapper {
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#cover-photo-button {
  position: relative;
  right: 40px;
  top: 80%;
}

/* #profile-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
  width: 100%;
  justify-content: space-around;
} */

#profile-pic {
  position: relative;
  border: 2px solid rgb(219, 197, 197);
  height: 200px;
  width: 200px;
  bottom: 100px;
}

/* #username-text {
  line-height: 200px;
} */

#edit-profile-button {
  margin-top: 20px;
}

/* #username-display {
  flex: 6;
}

#profile-edit-button {
  flex: 6;
} */

/* #profile-photo-button {
  position: relative;
  border: 2px solid grey;
  right: 10%;
  top: 45px;
} */

/* #edit-profile-button {
  justify-content: center;
} */

/* @media (max-width: 600px) {
  #profile-row {
    justify-content: center;
  }
} */

@media (max-width: 600px) {
  #username-display {
    position: relative;
    bottom: 100px;
  }
}

@media (max-width: 600px) {
  #edit-profile-button {
    position: relative;
    bottom: 100px;
  }
}
