/* #232E3C   dark
#374659      |
#6091C2      |
#ACCDF0     |
#E1EBF5    light     */

body {
  margin: 0;
  padding: 0;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Roboto", sans-serif;
}

#bg {
  z-index: 10;
}

#navbar {
  font-family: "Dosis", sans-serif;
}

.App {
  height: 100vh;
  background-color: #e1ebf5;
}

.material-icons {
  color: black;
  cursor: pointer;
}

#darkModeToggle:active {
  opacity: 0.5;
  color: darkgray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232e3c;
}

#nav-bar {
  background-color: #6091c2;
  color: #232e3c;
}

.btn-large {
  background-color: #6091c2;
  color: #232e3c;
}

a:visited {
  color: #e1ebf5;
}
